<!DOCTYPE html>
<html lang="en">
<head>

    <title>MASK</title>
    <script src="../static/js/jquery-3.1.0.min.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="main">Home</a>
                </li>
                <li role="presentation" id="myAccount"><a href="showSignIn">Sign In</a>
                </li>
                <li role="presentation" id="logout"><a href="showSignUp">Sign Up</a>
                </li>
                <li role="presentation" id="search"><a href="search">Search</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">MASK 4400 Travel Guide</h3>
    </div>
</div>

<div>

    <table border=1>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Population</th>
            <th>Score</th>
            <th>Language</th>
            <th>Language</th>
            <th>Language</th>

        </tr>
        {% for data in result %}
        <tr>
            <td>{{data['Country']}}</td>
            <td><a href="{{url_for('cityindividual', city=data['City'])}}">{{data['City']}}</a></td>
            <td>{{data['Longitude']}}</td>
            <td>{{data['Latitude']}}</td>
            <td>{{data['Population']}}</td>
            <td>{{data['Score']}}</td>
            <td>{{data['Language0']}}</td>
            <td>{{data['Language1']}}</td>
            <td>{{data['Language2']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>