<!DOCTYPE html>
<html lang="en">
<head>

    <title>MASK</title>
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/slider.js"></script>

    <link href="../static/css/slider.css" rel="stylesheet">
    <!--<script src="../static/js/loadResultsEventSearch.js"></script>-->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="main">Home</a>
                </li>
                <li role="presentation" id="myAccount"><a href="showSignIn">Sign In</a>
                </li>
                <li role="presentation" id="logout"><a href="showSignUp">Sign Up</a>
                </li>
                <li role="presentation" id="search"><a href="search">Search</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">MASK 4400 Travel Guide</h3>
    </div>
</div>

<div class="jumbotron text-center" id="title">
    <h1>Event Search</h1>

</div>

<div class="container">
    <form role="form" action="/loadEvent" method="POST">
        <div class="form-group">
                <label for="eventDropDown">Event:</label>
                <select name="eventDropDown" class="form-control" id="eventDropDown">
                    {% for e in eventlist %}
                    <option>{{e}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
                <label for="cityDropDown">City:</label>
                <select class="form-control" id="cityDropDown" name="cityDropDown">
                    {% for c in citylist %}
                    <option>{{c}}</option>
                    {% endfor %}
                </select>
        </div>
        <label for="inputdate" class="sr-only">Date</label>
        <input type="date" name="inputdate" id="inputdate" class="form-control" placeholder="Date"
               autofocus>

        <label>Cost Range:</label>
        <div class="input-group">
            <input type="text" class="form-control"  name="lowerbound" id="lowerbound" value="0"/>
            <span class="input-group-addon">-</span>
            <input type="text" class="form-control" name="upperbound" id="upperbound" value="15000000"/>
        </div>
        <section class="range-slider">
            <input id="lowslider" name="lowslider" value="0" min="0" max="100" step="5" type="range" style="display:table-cell; width:100%" oninput="lowerbound.value=this.value">
            <input id="highslider" name="highslider" value="100" min="0" max="100" step="5" type="range" style="display:table-cell; width:100%" oninput="upperbound.value=this.value">
        </section>



        <div class="form-group">
                <label for="categoryDropDown">Category:</label>
                <select class="form-control" id="categoryDropDown" name="categoryDropDown">
                    {% for category in categorylist %}
                    <option>{{category}}</option>
                    {% endfor %}
                </select>
        </div>
        <button type="submit" value="submit" class="btn btn-default">Submit</button>
    </form>

</div>


</body>
</html>