<!DOCTYPE html>
<html lang="en">
<head>

    <title>MASK</title>
    <script src="../static/js/jquery-3.1.0.min.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="main">Home</a>
                </li>
                <li role="presentation" id="myAccount"><a href="showSignIn">Sign In</a>
                </li>
                <li role="presentation" id="logout"><a href="showSignUp">Sign Up</a>
                </li>
                <li role="presentation" id="search"><a href="search">Search</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">MASK 4400 Travel Guide</h3>
    </div>
</div>

<div>

    <table border=1>
        <tr>
            <th>Location Name</th>
            <th>Individual Cost</th>
            <th>Location Type</th>
            <th>Total Cost</th>
        </tr>
        {% for data in result %}
        <tr>
            <td>{{data['Location Name']}}</td>
            <td>{{data['Individual Cost']}}</a></td>
            <td>{{data['Location Type']}}</td>
            <td>{{data['Total Cost']}}</td>

        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>