<!DOCTYPE html>
<html lang="en">
<head>
    <title>MASK</title>
    <script src="../static/js/jquery-3.1.0.min.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>


<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="main">Home</a>
                </li>
                <li role="presentation" id="myAccount"><a href="showSignIn">Sign In</a>
                </li>
                <li role="presentation" id="logout"><a href="showSignUp">Sign Up</a>
                </li>
                <li role="presentation" id="search" class="active"><a href="search">Search</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">MASK 4400 Travel Guide</h3>
    </div>
</div>

<div class="jumbotron text-center" id="title">
    <h1>Search</h1>

</div>

<div class="container">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" id="city"><a href="city">City</a></li>
            <li role="presentation" id="country-search"><a href="country-search">Country</a></li>
            <li role="presentation" id="event"><a href="event">Event</a></li>
            <li role="presentation" id="location"><a href="location">Location</a></li>
            <li role="presentation" id="makereview"><a href="makereview">Make a Review</a></li>
            <li role="presentation" id="addcity"><a href="addcity">Add a City</a></li>
            <li role="presentation" id="updatereview"><a href="updatereview">Update a Review</a></li>
            <li role="presentation" id="loadLanguages"><a href="extraLanguageSearch">View cities with more than one language</a></li>
            <li role="presentation" id="ratings"><a href="ratings">See highest and lowest ratings</a></li>
            <li role="presentation" id="freeordiscount"><a href="freeordiscount">See free or student discount events</a></li>
            <li role="presentation" id="capitalcities"><a href="capitalcities">Capital Cities</a></li>
            <li role="presentation" id="bonus"><a href="bonus">Bonus</a></li>
        </ul>
    </nav>
</div>
</body>
</html>